body{
	font-family: georgia;
	color: #666699
}

a{
	text-decoration: none;
	color: inherit;
	
}

a:hover{
	border-bottom: 1px dotted;
}

button {
	display: inline;
}
p{
	padding : 0;
    margin : 0;
}

.blue{
	color: #000066;
}

.center{
	text-align: center;
}

.content{
	box-sizing: border-box;
	height: 100%;
	overflow-y: scroll;
	white-space: pre-wrap;
	padding: 0 20px;
	position: relative;	
}

.heading{
	font-size: 42px;
	margin: 0;
}

.heading2{
	font-size: 36px;
	margin: 0;
}

.heading3{
	font-size: 24px;
	margin: 0;
}

.quote-heading{
	font-size: 30px;
	margin: 0 ;
	font-style: italic;
}

.quote{
	font-style: italic;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.quote-author{
	font-size: 14px;
	color: #444488;
	padding-left: 20px;
	margin-top:-10px;
}

.quote-work{
	font-style: italic;
}

.author{
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.work{
	font-style: italic;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

#header{
	position: relative;
	z-index: 99;
}

#title{
	font-family: georgia;
	font-size: 72px;
	border-bottom: none;
}

#header-tagline{
	font-size: 12px;
}

#search{
	margin: 32px;
}

#search-box{
	margin: 0;
	width:400px;
	padding-left: 10px;
	border: 2px inset #DDDDFF;
	border-radius: 12px 0px 0px 12px;
}

#search-button{
	background-color: #000066;
	color: #DDDDFF;
	border-radius: 0px 12px 12px 0px;
	border: 2px outset #DDDDFF;
}

#main-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 175px 222px 0 0;
	box-sizing: border-box;
}

#right-pane{
	font-family: helvetica;
	position: fixed;
	right: 0;
	width: 200px;
	height: 100%;
	border-left: 2px inset #DDDDFF;
	padding: 10px;
}

#logged-in{
	position: fixed;
}



.message{
	border: 2px inset #DDDDFF;
	margin-bottom:0;
	margin-right:0;
	margin-left: 0;
	margin-top: 0;
	padding: 0;
	width:700px;
}

.message-content{
	font-family: georgia;
	padding-left: 20px;
}

.message-sender-name{
	color: #3F82DB;
	font-style: bold;
	font-weight: bold;
	font-family: sans-serif;
	font-size:20px;
}

.message-timestamp{
	font-size: 10px;
	text-align: right;
	margin-right: 10px;
}

.message-quote{
	text-align: center;
	color:black;
}


#messaging-area{
	text-align: center;
  	bottom: 0;
  	right: 50%;
  	width:400px;
}

#send-message-textbox{
	width:400px;
	height:50px;
}