{# _q/templates/author.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->

<div id="main-content">
	<div class="content">
		<div class="heading blue">{{data[0]}}</div>
		
		<div class="heading2 blue">Biography</div>
		<div>{{data[1]}}</div>
		
		<div class="heading2 blue">Quotes</div>		
		{% for a in quotes %}
			<div><a href="/quote?qid={{a[0]}}" class="quote">{{a[1]}}</a></div>
		{% endfor %}

		<div class="heading2 blue">Works</div>
		{% for c in works %}
			<div><a href="/work?wid={{c[0]}}" class="work blue">{{c[1]}}</a></div>
		{% endfor %}
		<div class="heading3">Tags:
			{% for tag in tags %}
			<p><a href="/tag?name={{tag}}" class="author blue">{{tag}}</a></p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}