{# _q/templates/inbox.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<script type="text/javascript">

	function SQLdate_now() {
	    /* MySQL format */
	    var d = new Date();
	    var month = d.getMonth()+1;
	    var day = d.getDate();
	    var hour = d.getHours();
	    var minute = d.getMinutes();
	    var second = d.getSeconds();
	    var output = d.getFullYear() + '-' +
	        ((''+month).length<2 ? '0' : '') + month + '-' +
	        ((''+day).length<2 ? '0' : '') + day + ' ' +
	        ((''+hour).length<2 ? '0' :'') + hour + ':' +
	        ((''+minute).length<2 ? '0' :'') + minute + ':' +
	        ((''+second).length<2 ? '0' :'') + second;
	    return(output);
	};

	function submitForm(){
		var timeNow=SQLdate_now();
		$('#mtimestamp').val(timeNow);
		$('#send-message-button').submit();
	}

	function removeEmptyQuotes(){
		$( ".message-quote" ).each(function() {
  			if($(this).val() === null){
  				alert('here');
  				$(this).hide();
  			}
		});
	}
	$(document).ready(function(){
		removeEmptyQuotes();

	})
</script>

<div id="main-content">
	<div class="content">
		<div class="heading blue">Messages with {{friend_username}}</div>
		{% for message in messages %}
			<!--Display sender, recenver, content, quote if present-->
			<!-- <div id="message-sender"> <p> {{message[0]}}: {{message[2]}} </p> </div>
        	<div id="message-quote"> <p> {{message[3]}} </p> </div>
        	<div id="message-timestamp"> {{message[5]}} </div> -->
        	
        	<div class="message"> 
        		<p class="message-timestamp"> {{message[5]}} </p>
        		<p class="message-sender-name"> {{message[0]}} <p> 
        		<p class="message-content">  {{message[2]}} </p>
        		<p class="message-quote"> {{message[3]}} </p>
        	</div>
        {% endfor %}
	</div>

	<div id ="messaging-area">
		<form action = "/sendMessage" method = "POST">
			<input type="hidden" name='sender' value='{{uid}}'>
			<input type="hidden" name='receiver' value='{{friend_uid}}'>
			<input type="hidden" id='mtimestamp' name='mtimestamp' value ="hi">
 			<p> New Message <input id="send-message-textbox" type = 'text' name='message'/></p>
 			<p><button id="send-message-button" onclick="submitForm()"> Send </button></p>
		</form>
	</div>
</div>
{% endblock %}