{# _q/templates/friends.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<script type="text/javascript">
	function submitForm(){
		var timeNow=SQLdate_now();
		$('#mtimestamp').val(timeNow);
		$('#send-message').submit();
	}
</script>
<div id="main-content">
	<div class="content">
		<div class="heading blue">{{username}}'s Friends</div>
		
		{% for friend in friends %}
			<div class="friends"><a href="/profile?uid={{friend[2]}}" >{{friend[0]}} ({{friend[1]}})</a> </div>
			<!-- Show friend list as well as link to their profile -->
		{% endfor %}
	</div>
</div>

{% endblock %}