{# _q/templates/inbox.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<div id="main-content">
	<div class="content">
		<div class="heading blue">Conversations</div>
		{% for friend in friends %}
        <div><a href="/conversation?uid={{uid}}&amp;friend_uid={{friend[1]}}" class="quote">{{friend[0]}}</a></div>
        {% endfor %}
	</div>
</div>
{% endblock %}
