{# _q/templates/layout.html_ #}

<!DOCTYPE html>
<html>
	<head>
		<title>Q: the social network for quotes</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/q.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script type="text/javascript"> 
				function getUidCookie(){
					var elements = document.cookie.split(";");
					// return elements[0].split("=")[1];
					return elements[0].split("=")[1];
				}
				function getUserCookie(){
					var elements = document.cookie.split(";");
					if(elements[1] == undefined){
						return NaN;
					}
				 	return elements[1].split("=")[1];
				}

				function checkLoggedIn(){					
					var uid = parseInt(getUidCookie());
					var username = getUserCookie();
					// $("#logged-in").text(username + "ASDFASDF");
					
					//Not logged in
					if(isNaN(uid)){
						$("#not-logged-in").show();
						$("#logged-in").hide();
					}
					// Logged in
					else{
						$("#not-logged-in").hide();
						$("#logged-in p").text('Welcome ' + username + "!");
						$("#logged-in").show();
					}
				}

				function logOut(){
					document.cookie.split(";").forEach(function(c) { 
						document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); 
					});
					location.reload();
				}

				function goToProfile(){
					var uid = getUidCookie();
					location.href = "/profile?uid="+ uid;
				}

				function goToMessages(){
					var uid = getUidCookie();
					location.href = "/inbox?uid=" + uid;
				}

				function goToFriends(){
					var uid = getUidCookie();
					location.href ="/friends?uid=" + uid;
				}
				
				function goToVote(){
					var uid = getUidCookie();
					location.href ="/vote";
				}

				function sendMessage(){
					
				}
				$(document).ready( function(){ 
					$('#search-box').keypress(function(e){
					    if(e.keyCode==13)
					    $('#search-button').click();
					});
					checkLoggedIn(); 
				});
		</script>
	</head>
	
	<body>
		<div id="header">
			<div class="center"><a href='/' id="title"><span class="blue">Q</span> <span id="header-tagline">the social network for quotes</span></a></div>
			<div id="search" class="center">
				<form action="/search">
					<input id="search-box" type="text" name="query" placeholder="Search for Quotes, Authors, or Works">
					<button id="search-button" type="submit"> Search </button>
				</form>
			</div>
		</div>
		{% block body %}
	    {% endblock %}
		<p> 
			<div id="right-pane" >
				<div id="not-logged-in"> 
					<p> Sign In </p>
						<button type="button"><a href="/login" > Sign In </a></button>
					<p> Sign Up </p>
						<button type="button"><a href="/signup" class="button"> Sign Up </a></button>
				</div>
				<div id="logged-in"> 
					<p> </p>
					<br>
					<button type="button" id="profile-button" onclick=goToProfile()> Profile </button><br>
					<button type="button" id="friends-button" onclick=goToFriends()> Friends </button><br>
					<button type="button" id="messages-button" onclick=goToMessages()> Messages </button><br>
					<button type="button" id="vote-button" onclick=goToVote()> Vote </button><br>
					<br><br>
					<button type="button" id="log-out-button" onclick=logOut()> Sign Out </button>
				</div>
			</div> 
		</p>
	</body>
</html>

