{# _q/templates/login.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<div id="main-content">
	<form action = "/setcookie" method = "POST">
 		<p><h3>Sign In For Q</h3></p>
 		<p> Username <input type = 'text' name = 'Username'/></p>
 		<p> Password <input type = 'password' name = 'Password'/></p>
 		<p><input type = 'submit' value = 'Login'/></p>
	</form>

	<p>{{message}}</p>
</div>
{% endblock %}