{# _q/templates/profile.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<script type="text/javascript">

	function SQLdate_now() {
	    /* MySQL format */
	    var d = new Date();
	    var month = d.getMonth()+1;
	    var day = d.getDate();
	    var hour = d.getHours();
	    var minute = d.getMinutes();
	    var second = d.getSeconds();
	    var output = d.getFullYear() + '-' +
	        ((''+month).length<2 ? '0' : '') + month + '-' +
	        ((''+day).length<2 ? '0' : '') + day + ' ' +
	        ((''+hour).length<2 ? '0' :'') + hour + ':' +
	        ((''+minute).length<2 ? '0' :'') + minute + ':' +
	        ((''+second).length<2 ? '0' :'') + second;
	    return(output);
	};

	function submitForm(){
		var timeNow=SQLdate_now();
		$('#mtimestamp').val(timeNow);
		$('#send-message').submit();
	}
</script>

<div id="main-content">
	<div class="content">
		<div class="heading blue">Username: {{username}}</div>
		{% if user_relation == "self"%}
  				{% for request in friend_requests %}
  					<p>Pending Friend Request:</p>
  					<div id='friend_request'> {{request[1]}} ( {{request[2]}}) would like to be friends with you.
		  				<form action='/acceptFriendRequest' method='POST'> 
		  					<input type="hidden" name='friend_uid' value={{request[0]}}>
		  					<input type="hidden" name='uid' value={{uid}}>
		  					<p><input type = 'submit' value = 'Accept'/></p>
		  				</form>

		  				<form action='/rejectFriendRequest ' method='POST'> 
		  					<input type="hidden" name='friend_uid' value={{request[0]}}>
		  					<input type="hidden" name='uid' value={{uid}}>
		  					<p><input type = 'submit' value = 'Reject'/></p>
		  				</form>
	  				</div>
  				{% endfor %}
  			</div>
		{% endif %}

		{% if user_relation == "friend" %}
  			<div> 
  				<form action='/deleteFriend' method='POST'> 
  					<input type="hidden" name='friend_uid' value={{uid}}>
  					<input type="hidden" name='uid' value={{self_uid}}>
  					<p><input type = 'submit' value = 'Remove Friend'/></p>
  				</form>
  			</div>
  			<div id ="messaging-area">
				<form action = "/sendMessage" method = "POST">
					<input type="hidden" name='sender' value='{{self_uid}}'>
					<input type="hidden" name='receiver' value='{{uid}}'>
					<input type="hidden" id='mtimestamp' name='mtimestamp' value ="hi">
		 			<p> New Message <input id="send-message-textbox" type = 'text' name='message'/></p>
		 			<p><button id="send-message-button" onclick="submitForm()"> Send </button></p>
				</form>
			</div>
		{% endif %}
		{% if user_relation == "is_pending_friends" %}
  			<div> 
  				<p> Pending Friend Request</p>
  			</div>
		{% endif %}

		{% if user_relation == "stranger" and self_uid is not none %}
  			<div> 
  				<form action='/addFriend' method='POST'> 
  					<input type="hidden" name='friend_uid' value={{uid}}>
  					<input type="hidden" name='uid' value={{self_uid}}>
  					<p><input type = 'submit' value = 'Add Friend'/></p>
  				</form>
  			</div>
		{% endif %}

		<div class="heading2 blue">Saved Quotes </div>
		{% for a in profile_quotes %}
			<div><a href="/quote?qid={{a[0]}}" class="quote">{{a[1]}}</a></div>
			<div class="quote-author"><a href="/author?aid={{a[2]}}">{{a[3]}}</a></div>
		{% endfor %}

		<div class="heading2 blue">Shared Quotes </div>
		{% for v in shared_quotes %}
			<div><a href="/quote?qid={{v[0]}}" class="quote">{{v[1]}}</a></div>
			<div class="quote-author"><a href="/author?aid={{v[2]}}">{{v[3]}}</a></div>
		{% endfor %}
	</div>
</div>
{% endblock %}