{# _q/templates/q.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<div id="main-content">
	<div class="content">
		<div class="heading blue">Top Quotes</div>
		{% for n in top_quotes %}
        <div><a href="/quote?qid={{n[0]}}" class="quote">{{n[1]}}</a></div>
		<div class="quote-author"><a href="/author?aid={{n[2]}}">{{n[3]}}</a> <a href="/work?wid={{n[4]}}" class="quote-work">{{n[5]}}</a></div>
        {% endfor %}
		
		<div class="heading blue">Recent Quotes</div>
		{% for n in recent_quotes %}
        <div><a href="/quote?qid={{n[0]}}" class="quote">{{n[1]}}</a></div>
		<div class="quote-author"><a href="/author?aid={{n[2]}}">{{n[3]}}</a> <a href="/work?wid={{n[4]}}" class="quote-work">{{n[5]}}</a></div>
        {% endfor %}
	</div>
</div>
{% endblock %}
