{# _q/templates/quote.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<script type="text/javascript">

	function SQLdate_now() {
	    /* MySQL format */
	    var d = new Date();
	    var month = d.getMonth()+1;
	    var day = d.getDate();
	    var hour = d.getHours();
	    var minute = d.getMinutes();
	    var second = d.getSeconds();
	    var output = d.getFullYear() + '-' +
	        ((''+month).length<2 ? '0' : '') + month + '-' +
	        ((''+day).length<2 ? '0' : '') + day + ' ' +
	        ((''+hour).length<2 ? '0' :'') + hour + ':' +
	        ((''+minute).length<2 ? '0' :'') + minute + ':' +
	        ((''+second).length<2 ? '0' :'') + second;
	    return(output);
	};

	function submitForm(){
		var timeNow=SQLdate_now();
		$('#mtimestamp').val(timeNow);
		$('#send-message-button').submit();
	}
</script>
<div id="main-content">
	<div class="content">
		<div class="quote-heading">{{data[0]}}</div>
		<div class="heading3">Written by <a href="/author?aid={{data[1]}}" class="blue">{{data[2]}}</a></div>
		<div class="heading3">Seen in <a href="/work?wid={{data[3]}}" class="blue quote-work">{{data[4]}}</a></div>
		<div class="heading3">Tags:
			{% for tag in tags %}
			<p><a href="/tag?name={{tag}}" class="author blue">{{tag}}</a></p>
			{% endfor %}
		</div>
		{%if is_saved == False and uid is not none %}
			<div> 
	  				<form action='/saveQuote' method='POST'> 
	  					<input type="hidden" name='uid' value={{uid}}>
	  					<input type="hidden" name='qid' value={{qid}}>
	  					<p><input type = 'submit' value = 'Save To Profile'/></p>
	  				</form>
	  			</div>
			</div>
		{% endif %}
		<div> 
  				<form action='/shareQuote' method='POST'> 
  					<p> Friend Username<input id="friend-textbox" type = 'text' name='friend_username'/></p>
  					<input type="hidden" name='qid' value={{qid}}>
  					<input type="hidden" name='uid' value={{uid}}>
  					<input type="hidden" id='mtimestamp' name='mtimestamp' value ="hi">
  					<p><button id="send-message-button" onclick="submitForm()"> Share </button></p>
  				</form>
  			</div>
		</div>
</div>
{% endblock %}