{# _q/templates/search.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->

<div id="main-content">
	<div class="content">
		<div class="heading blue">Search results for "{{query}}"</div>
		<div class="heading2 blue">Quotes </div>
		{% for a in quotes %}
			<div><a href="/quote?qid={{a[0]}}" class="quote">{{a[1]}}</a></div>
		{% endfor %}

		<div class="heading2 blue">Authors </div>
		{% for b in authors %}
			<div><a href="/author?aid={{b[0]}}" class="author blue">{{b[1]}}</a></div>
		{% endfor %}

		<div class="heading2 blue">Works </div>
		{% for c in works %}
			<div><a href="/work?wid={{c[0]}}" class="work blue">{{c[1]}}</a></div>
		{% endfor %}

		<div class="heading2 blue">Users</div>
		{% for d in users %}
			<div><a href="/profile?uid={{d[0]}}" class="blue">{{d[1]}} ( {{d[2]}} )</a></div>
		{% endfor %}

		<div class="heading2 blue">Tags</div>
		{% for e in tags %}
			<div><a href="/tag?name={{e}}" class="blue">{{e}}</a></div>
		{% endfor %}
	</div>
</div>

{% endblock %}