{# _q/templates/signup.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<div id="main-content">
	<form action = "/adduser" method = "POST">
 		<p><h3>Sign Up For Q</h3></p>
 		<p> Name <input type = 'text' name = 'Name'/> </p>
 		<p> Username <input type = 'text' name = 'Username'/></p>
 		<p> Password <input type = 'password' name = 'Password'/></p>
 		<p><input type = 'submit' value = 'Sign Up'/></p>
	</form>

	<p>{{message}}</p>  
</div>
{% endblock %}


