{# _q/templates/voting.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->
<div id="main-content">
	<div class="content">
		<div class="heading blue">Unapproved Quotes</div>
		{% for n in unapproved_quotes %}
	        <div><a href="/quote?qid={{n[0]}}" class="quote">{{n[1]}}</a></div>
			<div class="quote-author"><a href="/author?aid={{n[2]}}">{{n[3]}}</a> <a href="/work?wid={{n[4]}}" class="quote-work">{{n[5]}}</a></div>
			{% if n[0] not in user_approved_quotes %}
				<form action='/approveQuote ' method='POST'> 
					<input type="hidden" name='qid' value={{n[0]}}>
					<input type="hidden" name='uid' value={{uid}}>
					<p><input type = 'submit' value = 'Approve'/></p>
				</form>
			{% endif %}
        {% endfor %}
	</div>
</div>
{% endblock %}