{# _q/templates/work.html_ #}
{% extends "layout.html" %} 
{% block body %}
{{ super() }} <!-- Keeps whatever was in the parent -->

<div id="main-content">
	<div class="content">
		<div class="heading blue">{{data[0]}}</div>
		<div class="heading3">Written by <a href="/author?aid={{data[1]}}" class="blue">{{data[2]}}</a></div>
		<div class="heading3">Tags:
			{% for tag in tags %}
			<p><a href="/tag?name={{tag}}" class="author blue">{{tag}}</a></p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}